.ship{
    width: fit-content;
    display: flex;
    align-self: center;
    position: relative;
    top:0;
    left: 209px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ally{
    animation: 3s gamestart;
}

@keyframes gamestart {
    0%{
        left: -130px;
        opacity: 0;
    }
    10%{
        opacity: 100;
    }
    100%{
        left: 209px;
    }
}