.tela-inicial {
    margin: 100px auto 0 auto;
    height: 528px;
    width: 1000px;
}

.tela-inicial img {
    width: 80%;
    animation: titulo 1s ease;
}

.tela-inicial_titulo {
    display: flex;
    justify-content: center;
}

.tela-inicial_main {
    margin: 30px auto;
    width: 205px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: user 1s ease;
}

.tela-inicial_main button {
    padding: 15px 40px;
    font-size: 35px;
    border-radius: 10px;
}

@keyframes titulo {
    0% {
        width: 60%;
        opacity: 0%;
    }

    100% {
        width: 80%;
        opacity: 100%;
    }
}

@keyframes user {
    0% {
        opacity: 0%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}