body {
    background-image: url("img/estrelas.png");
    /* position: relative; */
    display: flex;
    overflow: hidden !important;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

main{
    /* position: absolute; */
    width: 100%;
    height: inherit;
    /* background: yellowgreen; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.planeta-container{
    height: 500px;
    width: 700px;
    margin: 260px 0;
    /* background: red; */
    display: flex;
}

.planeta{
    height: inherit;
    width: 500px;
    /* background: rgb(20, 137, 233); */
    background-image: url('img/planetas/terra.png');
    border-radius: 100%;
    background-position: center;
    background-size: contain;
}

.planeta-info{
    height: inherit;
    width: 100px;
    /* background: gold; */
}